.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 7rem 0;
  transition: transform 250ms;

  &.with-details {
    flex: 0 0 100%;
  }

  &:not(.with-details) {
    &:hover,
    &:active {
      transform: scale(1.02);
      z-index: 9;
    }

    &:active {
      transform: scale(1.02) translateY(5px);
    }
  }

  @media (max-width: 1140px) {
    padding: 1rem 0;
  }

  &__content {
    background-color: $color-white;
    padding: 3rem;
    width: 570px;

    @media (max-width: 600px) {
      width: 100%;
    }

    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    justify-content: space-between;

    @media (max-width: 500px) {
      gap: 16px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  &__picture {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
  }

  &__name {
    span {
      display: block;
    }
  }

  &__firstname {
    position: relative;
    font-family: $font-secondary;
    font-size: 4rem;
    font-weight: 600;
    color: $color-white;
    -webkit-text-stroke: 8px $color-primary-light;
    margin-bottom: -2.5rem;
    letter-spacing: 0.3rem;

    &::after {
      content: attr(data-firstname);
      color: $color-white;
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-text-stroke: 0px $color-primary-light;
    }
  }

  &__lastname {
    font-family: $font-secondary;
    font-size: 3rem;
    font-weight: 900;
    color: $color-primary-light;
  }

  &__country {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    img {
      width: 10rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      margin-bottom: 0.5rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;

    gap: 6rem;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;

    @media (max-width: 1250px) {
      column-gap: 2rem;
      row-gap: 2rem;
    }

    @media (max-width: 1250px) {
      column-gap: 0.5rem;
      row-gap: 1rem;
    }
  }

  &__title-year {
    margin-bottom: 0.75rem;
  }

  .subtitle {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  .text {
    font-size: 0.875rem;
  }
}

.close {
  position: relative;
  width: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  margin-bottom: 2rem;
  cursor: pointer;

  &__line {
    content: "";
    position: absolute;
    width: 3rem;
    height: 2px;
    background-color: white;
    display: inline-block;
    transform: rotate(-135deg);

    &:first-child {
      transform: rotate(135deg);
    }
  }
}
