.player-stats {
  &.with-details {
    flex: 0 0 100%;
  }

  &:not(.with-details) {
    &:hover,
    &:active {
      transform: scale(1.02);
      z-index: 9;
    }

    &:active {
      transform: scale(1.02) translateY(5px);
    }
  }

  &__firstname {
    position: relative;
    font-family: $font-secondary;
    font-size: 4rem;
    font-weight: 600;
    color: $color-white;
    -webkit-text-stroke: 8px $color-primary-light;
    margin-bottom: -2.5rem;
    letter-spacing: 0.3rem;

    &::after {
      content: attr(data-firstname);
      color: $color-white;
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-text-stroke: 0px $color-primary-light;
    }
  }

  &__lastname {
    font-family: $font-secondary;
    font-size: 3rem;
    font-weight: 900;
    color: $color-primary-light;
  }
}
